// count
.count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    // number-notes
    .number-notes {
        color: $very-light-grayish-blue;
        font-size: 1.6rem;
    }
    //clear-completed-notes
    .clear-completed-notes {
        background-color: $very-dark-grayish-blue;
        color: $very-light-grayish-blue;
        font-size: 1.3rem;
        font-weight: 500;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
}