// app
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    background-image: url('../../images/bg-mobile-dark.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $very-dark-blue;
}

@import './header';
@import './input-note';
@import './notes';
@import './filter-notes';
@import './add-form';