//  input-note
.input-note {
    background-color: $very-dark-desaturated-blue;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-radius: 1rem;
    //  search note
    #search-note {
        margin: 0 auto;
        width: 100%;
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: none;
        background-color: $very-dark-grayish-blue;
        color: $light-grayish-blue;
        &:focus {
            outline: none;
        }
    }
}