//  input-note
.input-note {
    background-color: $very-dark-desaturated-blue;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-radius: 1rem;
    // new-note
    #new-note {
        border: none;
        font-size: 1.6rem;
        padding: 0.5rem;
        background-color: $very-light-gray;
        color: $very-dark-grayish-blue;
        border-radius: 1rem;
        &:focus {
            outline: none;
        }
    }
}

.move-item {
    position: relative;
    bottom: 14rem;
}