// note
.note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 1rem;
    border-bottom: 1px solid $very-dark-grayish-blue;
    color: $light-grayish-blue;
    font-size: 1.6rem;
    width: 80%;
    //  text note
    span {
        font-size: 1.6rem;
        color: $very-light-gray;
        margin-top: 1rem;
        &:hover {
            color: $light-grayish-blue-hover;
        }
    }
}

.show-text {
    width: auto;
    margin: 0 auto;
    color: $light-grayish-blue;
    font-size: 1.5rem;
    padding: 1rem;
}

.remove-btn {
    padding: 0.5rem;
    font-size: 1.4rem;
    border-bottom: 1rem;
    background-color: $light-grayish-blue;
    color: $very-dark-desaturated-blue;
    border: none;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    font-weight: 500;
}