* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

//  media
//medium
@mixin media-md {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

// large
@mixin media-large {
    @media screen and(min-width: 992px) {
        @content;
    }
}

//  extra large
@mixin media-extra-large {
    @media screen and(min-width: 1200px) {
        @content;
    }
}